
*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #FF7C3F;
  font-family: 'Merriweather Sans', sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #7C2A11;
}

.video{
 margin: 20px;
 display: block;
 text-align-last: center;
  
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: ;
}

nav a{
  font-family: "Merriweather", serif;
  text-decoration: none;
  text-align: center;
  color: #047C5C;
  font-weight: 900;
  display: block;
  padding: 10px;
}

nav a:hover{
  background: #F2380C;
}

@media screen and (min-width: 500px){

  nav ul{
    display: flex;
    margin-bottom: 20px;
  } 

  nav li{

    flex: 1 1 0;
  }

/*USE FLOAT SO THE WORDS WRAP AROUND PICTURE, PUT PICTURE IN A BOX*/
.about
{width: 800px;
margin-top: 10px;
margin-bottom: 10px;
display:flex;
float: right;
}

.bio{
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bio p:{
  margin-bottom: 60px;
 }
 
.aboutharlem h2{
  margin-bottom: 20px;
  color: #047C5C;
  text-align: center;
}

.aboutharlem p{
  margin-bottom: 60px;
}

nav{

  background: #7C2A11;
}

.introduction h1{
  font-family: "Merriweather", serif;
  font-size: 32px;
  color: #047C5C;
  text-align: center;
  margin: 20px;
}

.introduction p{
  margin-bottom: 20px;
  margin-top: 20px;
}

}

#events p{
  margin-bottom: 20px;
  margin-top: 20px; 
}

#eventslink{
   margin-bottom: 20px;
   }

footer{
  margin:50px;
}


