
*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #FF7C3F;
  font-family: 'Merriweather Sans', sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #7C2A11;
}

.video{
 margin: 20px;
 display: block;
 text-align-last: center;
}
nav ul{
  list-style-type: none;
  padding: 0;
}

nav a{
  font-family: "Merriweather", serif;
  text-decoration: none;
  text-align: center;
  color: #047C5C;
  font-weight: 900;
  display: block;
  padding: 10px;
}

nav a:hover{
  background: #F2380C;
}

@media screen and (min-width: 500px){

  nav ul{
    display: flex;
    margin-bottom: 20px;
  } 

  nav li{
    flex: 1 1 0;
  }

/*USE FLOATS OR FLEXBOX SO THE WORDS WRAP AROUND PICTURE, PUT PICTURE IN A BOX*/

.welcome
/*{width: 600px;*/
/*margin: 30px;*/
/*}*/
    {width: 35%;
    padding: 20px;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
#jb
{   width: 10%;
    padding: 20px;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

#soultrain
{
    width: 100%;
    padding: 20px;
    max-width: 960px;
    margin: 0 auto;
    display: inline-block;
}

.bio{
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bio p:{
  margin-bottom: 60px;
 }
 
.aboutharlem h2{
  margin-bottom: 20px;
  color: #047C5C;
  text-align: center;
}

.aboutharlem p{
  margin-bottom: 60px;
}

nav{
  background: #7C2A11;
}

.introduction h1{
  font-family: "Merriweather", serif;
  font-size: 32px;
  color: #047C5C;
  text-align: center;
  margin: 20px;
}


.introduction p{
  margin-bottom: 20px;
  margin-top: 20px;
}

.history h1{
 font-family: "Merriweather", serif;
  font-size: 32px;
  color: #047C5C;
  text-align: center;
  margin: 20px; 
  }
  
.history p{
  margin: 20px;
}
.tradition p{
  margin: 20px;
}
#events p{
  margin-bottom: 20px;
  margin-top: 20px; 
}

#eventslink{
   margin-bottom: 20px;
   }

footer{
  margin:50px;
}

address{
margin: 30px;

}

#contact container h1{
  color: #047C5C;
  font-family: "Merriweather", serif;
  font-size: 32px;
  margin: 20px;
}
 
 
/*  div {width: 100px;*/
/*    height: 100px;*/
/*    line-height: 100px;*/
/*    background-color: #C5CBD3;*/
/*    border: 2px solid #BB342F;*/
/*    text-align: center;*/
/*}*/

/*section{*/
/*    height: 60vh;*/
/*    background: #DDA448;*/
/*    display: flex;*/
/*    flex-direction: column-reverse;*/
/*    justify-content: space-evenly;*/
/*    align-items: center;*/
/*}*/
  
 .tupac{
   height: 80%;
   width: 80%;
   display:flex;
   justify-content: center;
   margin: 30px;
   padding: 30px;
} 

#eventsvideo{
    width: 100%;
    padding: 20px;
    max-width: 960px;
    margin: 0 auto;
    display: inline-block;
}

.eventsheading{
  font-family: "Merriweather", serif;
  font-size: 32px;
  color: #047C5C;
  text-align: center;
  margin: 20px;
  
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
/*This is the closing declaration do not go below this space */
} 
